{namespace pods.main}

/**
 * @param words
 */
{template .index}
            <ul>
                    {foreach $word in $words}
                            <li>{$word}</li>
                    {/foreach}
            </ul>
            <div id="box">
                Hello
            <div>
{/template}
